@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700;800&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
}

header {
  background: rgba(255, 144, 14, 0.10);
  padding: 50px 240px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nave-titel {
  font-size: 2.8rem;
}

nav > ul {
  display: flex;
}

nav li {
  list-style: none;
  margin-right: 30px;
}

nav a {
  text-decoration: none;
  color: #424242;
}